<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>angular-demo6</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
	<script type="text/javascript" src="../js/controllers/controllers.js"></script>
	<script type="text/javascript" src="../js/services/services.js"></script>
	<script type="text/javascript" src="../js/directive/directive6.js"></script>
</head>
<body>
	<div>
		<my-directive></my-directive>
	</div>
	<h1 ng-init="greeting='HelloWorld'">
		The greeting is: {{ greeting }}
	</h1>
</body>
</html>