<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>angular-demo16</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
	<script type="text/javascript" src="../js/controllers/controllers16.js"></script>
	<script type="text/javascript" src="../js/services/services.js"></script>
	<script type="text/javascript" src="../js/directive/directive16.js"></script>
</head>
<body>
<!-- 1 -->
<!-- <div ng-controller='MainController'> -->
    <div my-shared-scope></div>
<!-- </div> -->
<div my-dom-directive>Click Me!</div>
</body>
</html>