<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>angular-demo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
	<script type="text/javascript" src="../js/controllers/controllers.js"></script>
	<script type="text/javascript" src="../js/services/services.js"></script>
	<script type="text/javascript" src="../js/directive/directive.js"></script>
</head>
<body>
	<div ng-controller='MyController'>
		<input ng-model="person.name" type="text" placeholder="Your name">
		<h1>Hello {{ person.name }}</h1>
		<h5>{{ clock.now }}</h5>
	</div>
</body>
</html>