<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>angular-demo17</title>
</head>
<style type="text/css">
 .expander { border: 1px solid black; width: 250px; }
 .expander>.title { background-color: black; color: white; padding: .1em .3em; cursor: pointer; }
 .expander>.body { padding: .1em .3em; }
</style>
<body>
    <div ng-controller='SomeController'>
        <expander class='expander' expander-title='title'>
            {{text}}
        </expander>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
    <!-- <script type="text/javascript" src="../js/controllers/controllers17.js"></script> -->
    <script type="text/javascript" src="../js/directive/directive17.js"></script>
    <script type="text/javascript" src="../js/services/services.js"></script>
</body>
</html>